<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Join Lokal via QR" />
    <meta property="og:description" content="Scan to join instantly." />
    <meta property="og:image" content="<%= url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url %>" />
    <title>Join Lokal</title>
  </head>
  <body>
    <img src="<%= url %>" width="300" />
  </body>
</html>
